@import './styles/fonts';
@import './styles/theme';

body {
  margin: 0;
  box-sizing: border-box;
  font-family: $default-font;
  @include theme-colors($dark-theme: false);
  html[data-theme=dark] & {
    @include theme-colors($dark-theme: true);
  }
}
